<h1>Documents</h1>

<%= link_to "Add Document", new_article_path  %>



<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article_path(article) do %>
        <%= article.title %>
      <% end %>
    </li>
  <% end %>
</ul>

