<h1>Article#index</h1>

<%= link_to "Upload Article", new_article_path  %>

<% @articles.each do |article| %>
  <div>
  <%= link_to article_path(article) do %>
    <%= article.title %>
  <% end %>
  </div>
<% end %>
